@font-face {
  font-family: 'Flappy Bird';
  src:
    url('../public/assets/fonts/FlappyBird.woff') format('woff'),
    url('../public/assets/fonts/FlappyBird.eot') format('embedded-opentype'),
    url('../public/assets/fonts/FlappyBird.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  overflow: hidden;

  font-family: 'Flappy Bird';

  p {
    position: absolute;
    visibility: hidden;
  }
}